p{
    color: blueviolet;  
    font-size: 200%;
    padding: 15%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    letter-spacing: 2px;
  }
  .retangulo{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 50%;
  border: 5px solid rgb(25, 40, 203);
  border-radius: 5px;
  background-color: red;
}
.button1{
 background-color: rgb(111, 240, 222);
 border-radius: 100px;
 color: rgb(204, 119, 187);
 width: 100px;
 height: 50px;  
}
.button2{
background-image: linear-gradient(to right, pink, rgb(170, 106, 195));
height: 50px;
width: 200px;
}

:hover.button1{
  background-color: rgb(239, 187, 239);
  color: rgb(155, 242, 241);
}

:hover.button2{
  color: deepskyblue;
}
.container{
  display: flex;
}

.caixa{
  background-color: rgb(99, 99, 188);
  width: 200px;
  height: 150px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 15%;
}
ul{
  list-style-type: none;
}
ul li:before {
  content: '\2022';
  margin: 0 2px;
  color: #e74c3c;
 }
a{
  color: #000000;
  font-size: 30px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50%;
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 }
a:hover{
  color: rgb(136, 17, 247); 

 }
 @keyframes slidein{
  from{
    margin-left: 100%;
    width: 300%;
  }
  to{
    margin-left: 0%;
    width: 100%;
  }
 }
