p{
    color: blueviolet;  
    font-size: 200%;
    padding: 15%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    letter-spacing: 2px;
  }
  .retangulo{   
    background-color: brown;
    
  }