p{
    color: blueviolet;  
    font-size: 200%;
    padding: 15%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    letter-spacing: 2px;
  }
  .retangulo{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 50%;
  border: 5px solid rgb(25, 40, 203);
  border-radius: 5px;
  background-color: red;
}
.button1{
  background-color: rgb(134, 200, 178);
   
   
 }
 .button2{
 background-color: aquamarine;
 }
